*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 98vw;
    height: 120px;
    margin-top: 50px;
    margin-left: 10px;
    border: 5px solid black;
    border-radius: 10px;
    position: relative;
}

.container .box1{
    width: 80px;
    height: 80px;
    background-color: yellow;
    position: absolute;
    left: 25px;
    top: 15px;
}

.container .box2{
    width: 800px;
    height: 80px;
    background-color: yellow;
    position: absolute;
    left: 300px;
    top: 15px;
}

.container .box3{
    width: 120px;
    height: 80px;
    background-color: yellow;
    position: absolute;
    right: 40px;
    top: 15px;
}

.container .box2 .box2-1{
    width: 200px;
    height: 60px;
    background-color: royalblue;
    position: absolute;
    bottom: 2px;
    left: 40px;
}

.container .box2 .box2-1 .box2-1-1{
    width: 50px;
    height: 50px;
    background-color: red;
    position: absolute;
    top: 0;
    right: 0;
}

.container .box2 .box2-2{
    width: 200px;
    height: 60px;
    background-color: royalblue;
    position: absolute;
    bottom: 2px;
    left: 300px;
}

.container .box2 .box2-3{
    width: 150px;
    height: 60px;
    background-color: royalblue;
    position: absolute;
    right: 40px;
    bottom: 2px;
}

.container .box3 .box3-1{
    width: 80px;
    height: 60px;
    border: 5px solid greenyellow;
    position: absolute;
    left: 20px;
    top: 10px;
}